[DEFAULT]
wsUrl=https://app.whitesourcesoftware.com
userKey=
orgToken=
#projectParallelismLevel=18 #TBD
projectPath=/path/of/folder/to/scan
conanInstallFolder=
keepConanInstallFolderAfterRun=True
conanRunPreStep=False
productToken=
productName=
projectToken=
projectName=
changeOriginLibrary=True
unifiedAgentPath=