[DEFAULT]
wsUrl=https://app.whitesourcesoftware.com
userKey=
orgToken=
#projectParallelismLevel=18 #TBD
projectPath=
conanInstallFolder=
keepConanInstallFolderAfterRun=True
productToken=
productName=Conan_Sample_Product
projectToken=
projectName=Conan_Sample_Project
#findMatchForReference=True #TBD
unifiedAgentPath=