[DEFAULT]
wsUrl=https://app.whitesourcesoftware.com
userKey=
orgToken=
projectPath=/path/to/project/to/scan
conanInstallFolder=
keepConanInstallFolderAfterRun=True
conanRunPreStep=False
productToken=
productName=test
projectToken=
projectName=test
changeOriginLibrary=True
unifiedAgentPath=